.header {
  display: flex;
  background: linear-gradient(
    90deg,
    var(--color-light-blue) 0%,
    rgba(0, 124, 225, 1) 100%
  );
  position: relative;
  align-items: center;
  grid-area: header;
  padding: 10px 24px;
  border-bottom: 24px solid var(--color-blue);
  box-sizing: border-box;
}

.header img {
  height: 80px;
  margin-right: 12px;
}

.teamName {
  font-family: "Archivo Black";
  font-size: 42px;
  padding-right: 12px;
  font-style: italic;
  border-right: 3px solid var(--color-gold);
  color: var(--color-blue);
}

.subhead {
  font-size: 12px;
}
