.layoutGrid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: auto 1fr auto;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}

.error {
  margin-top: 28px;
  font-size: 20px;
  font-family: "Archivo Black";
  text-align: center;
  color: var(--color-red);
}
