body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-blue: #231c5f;
  --color-red: #ea3d34;
  --color-gold: #f4d23a;
  --color-light-blue: #017ce1;
  --color-green: #00cc00;
}

html,
body,
#root {
  height: 100%;
  color: var(--color-blue);
}
